---
import '../styles/global.css';
import Cheatsheet from '@/components/cheatsheet';


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Windsheet</title>
	</head>

	<body>
		<main class="min-h-screen bg-bacground">
			<div class="container mx-auto py-12">
				<Cheatsheet client:load />
			</div>
		</main>
	</body>
</html>
